#logo {
  color: red;
}

#nav li {
  color: blue;
}

#nav li a:visited {
  color: green;
}
#above-the-fold .card p {
  color: #fff;
}

#above-the-fold .card button {
  background-color: #90EE90;
  color: green;
}

article p::first-letter {
  margin-left: 30px;
}

#blog {
  background-color: #666;
  color: #cff;
}

#gallery figure:hover {
  box-shadow: 0 15px 40px -15px #000;
  }
  #gallery figcaption {
    padding: 8px;
  }

  article h3 {
    text-align: center;
  }
  article {
    margin-top: 40px;
  }
section h2 {
  text-transform: uppercase;
}
section h2::before {
  content: "**";
}

form input {
  margin: 10px;
  padding: 5px;
}
form input:focus,
textarea:focus {
   border-color: rgb(0, 255, 0);
   outline: none;
}

textarea {
  display: block;


input[type="submit"] {
  display: block;
  background-color: #0F0;
  }
  footer {
    background-color: rgb(80, 80, 80);
    color: #FF9900;
    }
    input [type="submit"]{
      display: block;
      background-color: #0F0;
    }
    form input [type="radio"]{
      margin-left: 20px;
      margin-right: 5px;
    }
  address p {
    margin: 0;
    padding: 20px 0;
  }
